{% extends "cmdbbase.html" %}


{% block css %}
{% include "form_css.html"%}
{% endblock %}

{% block content %}
    <form action="/serverline/updataserverline/" method="post" novalidate>
        {% for i in updata_serverlineform %}

            <a>{{ i.label }}</a><br>
            <div class="input-group">
                {% if i.label == '业务线名称' %}
                    {% if i.value == None %}
                        {{ i }}
                    {% else %}
                        {{ i.value }}
                        <div style="display:none;">{{ i }}</div>
                    {% endif %}
                {% else %}
                    {{ i }}
                {% endif %}
            {% if i.errors.0 %}
            <span>{{ i.errors.0 }}</span>
            {% endif %}
            </div>
        {% endfor %}
        <div>
            <input type="submit" value="提交">
        </div>
    </form>
{% endblock %}