{% extends "cmdbbase.html" %}


{% block css %}
{% include "form_css.html"%}
{% endblock %}

{% block content %}
    <form action="/domain/adddomain/" method="post" novalidate>
        <!--<a>密 码</a><br>-->
        <!--<div class="input-group">-->
            <!--{{ add_userform.password }}-->
            <!--{% if error.password.0 %}-->
            <!--<span>{{ error.password.0 }}</span>-->
            <!--{% endif %}-->
        <!--</div>-->
        <a>主机记录</a><br>
        <div class="input-group">
            {{ add_domainform.name }}
            {% if error.name.0 %}
            <span>{{ error.name.0 }}</span>
            {% endif %}
        </div>
        <a>域名</a><br>
        <div class="input-group">
            {{ add_domainform.domain }}
            {% if error.domain.0 %}
            <span>{{ error.domain.0 }}</span>
            {% endif %}
        </div>
        <a>记录值</a><br>
        <div class="input-group">
            {{ add_domainform.value }}
            {% if error.value.0 %}
            <span>{{ error.value.0 }}</span>
            {% endif %}
        </div>
        <a>记录类型</a><br>
        <div class="input-group">
            {{ add_domainform.types }}
            {% if error.types.0 %}
            <span>{{ error.types.0 }}</span>
            {% endif %}
        </div>
        <a>描述</a><br>
        <div class="input-group">
            {{ add_domainform.describe }}
            {% if error.describe.0 %}
            <span>{{ error.describe.0 }}</span>
            {% endif %}
        </div>
        <div>
            <input type="submit" value="提交">
        </div>
    </form>
{% endblock %}