{% extends "cmdbbase.html" %}


{% block css %}
{% include "form_css.html"%}
{% endblock %}

{% block content %}


<form action="/lb/getlb/" method="post" novalidate>
    {{ get_lbform.search_lb.label }}{{ get_lbform.search_lb }}<br>
     <div>
        <input type="submit" value="提交">
    </div>
</form>

<div class="pagination">
    <span class="step-links">
        {% for i in page_lb_list %}
            {{ i.lb_name }}
            <a href="/lb/updatalb?lb_name={{ i.lb_name }}">修改</a>
            <!--删除需要二次确认-->
            <a href="/lb/dellb?lb_name={{ i.lb_name }}">删除</a><br>
        {% endfor %}
        <!--判断是否有前一页-->
        {% if page_lb_list.has_previous %}
        <a href="?page={{ page_lb_list.previous_page_number }}&{{ get_lbform.search_lb.value }}">上一页</a>
        {% endif %}
        <!--循环页-->
        {% for page in page_lb_list.paginator.page_range %}
            {% if page == page_lb_list.number %}
                <a class='paginator_current' title='当前页:{{ page }}'><span>{{ page }}</span></a>
            {% else %}
                <a class='paginator' href='?page={{ page }}&{{ get_lbform.search_lb.value }}' title='{{ page }}'><span>{{ page }}</span></a>
            {% endif %}
        {% endfor %}
        Page {{ page_lb_list.number }} of {{ page_lb_list.paginator.num_pages }}
        <!--判断是否有后一页-->
        {% if page_lb_list.has_next %}
            <a href="?page={{ page_lb_list.next_page_number }}&{{ get_lbform.search_lb.value }}">下一页</a>
        {% endif %}
    </span>
</div>

{% endblock %}