{% extends "cmdbbase.html" %}


{% block css %}
{% include "form_css.html"%}
{% endblock %}

{% block content %}
    <form action="/alert/editalert/" method="post" novalidate>
        {% for i in edit_alertform %}
            <div class="input-group">
                {% if i.label == '事件id' or i.label == '触发器id' or i.label == '触发器状态' or i.label == '报警信息' %}
                    <a>{{ i.label }}</a><br>
                    {% if i.value == None %}
                        {{ i }}
                    {% else %}
                        {{ i.value }}
                        <div style="display:none;">{{ i }}</div>
                    {% endif %}
                {% elif i.label == '报警时间'%}
                    <div style="display:none;">{{ i }}</div>
                {% else %}
                    <a>{{ i.label }}</a><br>
                    {{ i }}
                {% endif %}
            {% if i.errors.0 %}
            <span>{{ i.errors.0 }}</span>
            {% endif %}
            </div>
        {% endfor %}
        <div>
            <input type="submit" value="提交">
        </div>
    </form>
{% endblock %}