{% extends "cmdbbase.html" %}


{% block css %}
{% include "form_css.html"%}
{% endblock %}

{% block content %}
{% load dealclock %}

<div class="row">
    <div class="col-md-12">
        <!-- START DATATABLE EXPORT -->
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">历史报警信息</h3>
                <div class="btn-group pull-right">
                    <button class="btn btn-danger dropdown-toggle" data-toggle="dropdown"><i class="fa fa-bars"></i>导出数据</button>
                    <ul class="dropdown-menu">
                        <li><a href="#" onClick ="$('#customers2').tableExport({type:'json',escape:'false'});"><img src='/static/img/icons/json.png' width="24"/> JSON</a></li>
                        <li><a href="#" onClick ="$('#customers2').tableExport({type:'json',escape:'false',ignoreColumn:'[2,3]'});"><img src='img/icons/json.png' width="24"/> JSON (ignoreColumn)</a></li>
                        <li><a href="#" onClick ="$('#customers2').tableExport({type:'json',escape:'true'});"><img src='/static/img/icons/json.png' width="24"/> JSON (with Escape)</a></li>
                        <li class="divider"></li>
                        <li><a href="#" onClick ="$('#customers2').tableExport({type:'xml',escape:'false'});"><img src='/static/img/icons/xml.png' width="24"/> XML</a></li>
                        <li><a href="#" onClick ="$('#customers2').tableExport({type:'sql'});"><img src='/static/img/icons/sql.png' width="24"/> SQL</a></li>
                        <li class="divider"></li>
                        <li><a href="#" onClick ="$('#customers2').tableExport({type:'csv',escape:'false'});"><img src='/static/img/icons/csv.png' width="24"/> CSV</a></li>
                        <li><a href="#" onClick ="$('#customers2').tableExport({type:'txt',escape:'false'});"><img src='/static/img/icons/txt.png' width="24"/> TXT</a></li>
                        <li class="divider"></li>
                        <li><a href="#" onClick ="$('#customers2').tableExport({type:'excel',escape:'false'});"><img src='/static/img/icons/xls.png' width="24"/> XLS</a></li>
                        <li><a href="#" onClick ="$('#customers2').tableExport({type:'doc',escape:'false'});"><img src='/static/img/icons/word.png' width="24"/> Word</a></li>
                        <li><a href="#" onClick ="$('#customers2').tableExport({type:'powerpoint',escape:'false'});"><img src='/static/img/icons/ppt.png' width="24"/> PowerPoint</a></li>
                        <li class="divider"></li>
                        <li><a href="#" onClick ="$('#customers2').tableExport({type:'png',escape:'false'});"><img src='/static/img/icons/png.png' width="24"/> PNG</a></li>
                        <li><a href="#" onClick ="$('#customers2').tableExport({type:'pdf',escape:'false'});"><img src='/static/img/icons/pdf.png' width="24"/> PDF</a></li>
                    </ul>
                </div>
            </div>
            <div class="panel-body panel-body-table">
                <div class="table-responsive">
                    <table id="customers2" class="table datatable table-striped table-actions">
                        <!--默认排序配置jquery.dataTables.min.js中的m.defaults={aaData:null,aaSorting:[[0,"desc"]]-->
                        <thead>
                            <tr>
                                <th>报警时间</th>
                                <th>报警内容</th>
                                <th>触发器id</th>
                                <th>触发器状态</th>
                                <th>事件id</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for i in historyalert_list %}
                            {% if i.trigger_status == 'closed' %}
                            <tr class="success" id="{{ i.event_id }}">
                            {% else %}
                            <tr class="active" id="{{ i.event_id }}">
                            {% endif %}
                                <td>{{ i.clock|dealclock }}</td>
                                <td><strong>{{ i.subject }}</strong></td>
                                <td>{{ i.trigger_id }}</td>
                                <td><span class="label label-success">{{ i.trigger_status }}</span></td>
                                <!--<td>{{i.event_id}}</td>-->
                                <td>
                                    <button onclick="window.location.href='/alert/editalert?event_id={{ i.event_id }}'" class="btn btn-default btn-rounded btn-condensed btn-sm"><span class="fa fa-pencil"></span></button>
                                    <button class="btn btn-danger btn-rounded btn-condensed btn-sm" onClick="delete_row('{{ i.event_id }}');"><span class="fa fa-times"></span></button>
                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <!-- END DATATABLE EXPORT -->

    </div>
</div>

{% block js %}
{% endblock %}

{% endblock %}


