# django database

[mysql]
host = 47.91.228.125
port = 3306
user = root
password = 424826
database = cmdb

# cmdb sendmail

[smtp]
host = smtp.exmail.qq.com
port = 587
user = ywmsg@chuchujie.com
password = 9aa4f6A
#[smtp]
#host = smtp.exmail.qq.com
#port = 587
#user = why@whysdomain.com
#password = 123456





