[api]
# host = 10.30.4.165
# url = /zabbix/api_jsonrpc.php
# username = admin
# password = zbxccj.234
host = zabbix.whysdomain.com
url = /zabbix/api_jsonrpc.php
username = admin
password = 3344521

[mysql]
# host = 10.30.6.251
# port = 4300
# user = opscmdb
# password = U03jlrFIEirp3
# database = opscmdb
# charset = utf8
host = 47.91.228.125
port = 3306
user = root
password = 424826
database = cmdb
charset = utf8