{% extends "cmdbbase.html" %}


{% block css %}
{% include "form_css.html"%}
{% endblock %}

{% block content %}


<div class="row">
    <div class="col-md-12">

        <form class="form-horizontal form-group-separated" action="/workorder/add_host_workorder/" method="post" novalidate>
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title"><strong>主机申请</strong> 工单</h3>
                <ul class="panel-controls">
                    <li><a href="#" class="panel-remove"><span class="fa fa-times"></span></a></li>
                </ul>
            </div>
            <div class="panel-body">
                <p>主机申请工单用于对业务线申请主机，包括申请主机，申请添加主机，申请删除主机和申请业务线主机</p>
            </div>
            <div class="panel-body">
                {% for i in form %}
                    <div class="form-group">
                        <label class="col-md-3 col-xs-12 control-label">{{ i.label }}</label>
                        <div class="col-md-6 col-xs-12">

                            {% if i.label == '描述' or i.label == '申请主机类型' or i.label == '云厂商' or i.label == '是否需要外网IP' or i.label == '所属业务线' or i.label == '待监控url'%}
                                <!--<textarea class="form-control" rows="5"></textarea>-->
                                {{ i }}
                            {% else %}
                                <div class="input-group">
                                    <span class="input-group-addon"><span class="fa fa-pencil"></span></span>
                                    <!--<input type="text" class="form-control"/>-->
                                    {{ i }}
                                </div>
                            {% endif %}

                            {% if  i.errors.0 %}
                                <span class="help-block">{{ i.errors.0 }}</span>
                            {% endif %}

                        </div>
                    </div>
                {% endfor %}
            </div>

            <div class="panel-footer">
                <button class="btn btn-default"> 请空表单(Clear Form) </button>
                <button class="btn btn-primary pull-right"> 提交(Submit) </button>
            </div>
        </div>
        </form>

    </div>
</div>

{% endblock %}