<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<a href="/adduser/">添加用户</a><br>
<a href="/deluser/">删除用户</a><br>
<a href="/searchuser/">查找用户</a><br>
<a href="/updatauser/">修改用户</a><br>
<a href="/updatauserzabbix/">修改用户zabbix</a><br>
<a href="/updatauserzabbix/">修改用户zabbix</a><br>
<a href="/updatauservpn/">修改用户vpn</a><br>
<a href="/updatauserphone/">修改用户phone</a><br>
<a href="/updatauserauth/">修改用户auth</a><br>
<a href="/updatauserjumper/">修改用户jumper</a><br>
<a href="/updatauserkibana/">修改用户kibana</a><br>

{% block content %}

{% endblock %}

</body>
</html>