<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="http://img.whysdomain.com/static/jquery-1.8.2.js"></script>
</head>
<body>
login
<a href="/adduser/">添加用户</a>
<a href="/deluser/">删除用户</a>
<a href="/searchuser/">查找用户</a>
<a href="/updatauser/">修改用户</a>
<a href="/updatauserzabbix/">修改用户zabbix</a>
<a href="/updatauserzabbix/">修改用户zabbix</a>
<a href="/updatauservpn/">修改用户vpn</a>
<a href="/updatauserphone/">修改用户phone</a>
<a href="/updatauserauth/">修改用户auth</a>
<a href="/updatauserjumper/">修改用户jumper</a>
<a href="/updatauserkibana/">修改用户kibana</a>

<h2><a href="/logout/">退出</a></h2>
</body>
</html>