    <a href="/user/adduser/">添加用户</a><br>
    <a href="/user/deluser/">删除用户</a><br>
    <a href="/user/getuser/">查找用户</a><br>
    <a href="/user/updatauser/">修改用户</a><br>
    <a href="/user/updatauserzabbix/">修改用户zabbix</a><br>
    <a href="/user/updatauserzabbix/">修改用户zabbix</a><br>
    <a href="/user/updatauservpn/">修改用户vpn</a><br>
    <a href="/user/updatauserphone/">修改用户phone</a><br>
    <a href="/user/updatauserauth/">修改用户auth</a><br>
    <a href="/user/updatauserjumper/">修改用户jumper</a><br>
    <a href="/user/updatauserkibana/">修改用户kibana</a><br>