{% extends "cmdbbase.html" %}


{% block css %}
{% include "form_css.html"%}
{% endblock %}

{% block content %}


<div class="row">
    <div class="col-md-12">

        <form class="form-horizontal form-group-separated" action="/host/addhost/" method="post" novalidate>
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title"><strong>创建主机</strong> 工单</h3>
                <ul class="panel-controls">
                    <li><a href="#" class="panel-remove"><span class="fa fa-times"></span></a></li>
                </ul>
            </div>
            <div class="panel-body">
                <p>检查并创建主机</p>
            </div>
            <div class="panel-body">
                {% for i in form %}
                    {% if i.label == 'Host workorder id'  or i.label == 'Step num' %}
                        <div class="form-group hidden">
                    {% else %}
                        <div class="form-group">
                    {% endif %}
                        <label class="col-md-3 col-xs-12 control-label">{{ i.label }}</label>
                        <div class="col-md-6 col-xs-12">

                            {% if i.label == '申请主机数量' or i.label == '磁盘大小' %}
                                <!--<textarea class="form-control" rows="5"></textarea>-->

                                <div class="input-group">
                                    <span class="input-group-addon"><span class="fa fa-pencil"></span></span>
                                    <!--<input type="text" class="form-control"/>-->
                                    {{ i }}
                                </div>
                            {% else %}
                                {{ i }}
                            {% endif %}

                            {% if  i.errors.0 %}
                                <span class="help-block">{{ i.errors.0 }}</span>
                            {% endif %}

                        </div>
                    </div>
                {% endfor %}
            </div>



            <div class="panel-footer">
                <!--<button class="btn btn-default"> 请空表单(Clear Form) </button>-->
                <button class="btn btn-primary pull-right"> 提交(Submit) </button>
            </div>
        </div>
        </form>

    </div>
</div>

{% endblock %}