{% extends "cmdbbase.html" %}


{% block css %}
{% include "form_css.html"%}
{% endblock %}

{% block content %}
<a>用户</a><br>
{{ userinfo.0.username }}<br>
<a>密码</a><br>
{{ userinfo.0.password }}<br>
<a>邮箱</a><br>
{{ userinfo.0.email }}<br>
<a>部门</a><br>
{{ userinfo.0.department }}<br>
<a>电话</a><br>
{{ userinfo.0.phone }}<br>
<a>权限</a><br>
{{ userinfo.0.auth }}<br>
<a>跳板机</a><br>
{{ userinfo.0.jumper }}<br>
<a>vpn</a><br>
{{ userinfo.0.vpn }}<br>
<a>zabbix</a><br>
{{ userinfo.0.zabbix }}<br>
<a>git</a><br>
{{ userinfo.0.git }}<br>
<a>jenkins</a><br>
{{ userinfo.0.jenkins }}<br>
{% endblock %}
